name: Release Please Automatic Semver

on:
  push:
    branches:
      - main
    workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        with:
          token: ${{ secrets.CI_TOKEN }}
          release-type: simple
          package-name: rest.nvim
